:root {
  --basic-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway";
  --basic-bakground-color: #ffffff;
  --brand-text-color: #4d5ae5;
  --heading-text-color: #2e2f42;
  --success-text-color: #31d0aa;
  --body-text-color: #434455;
  --subtl-text-color: #8e8f99;
  --accent-text-color: #e7e9fc;
  --light-text-color: #f4f4fd;
}
body {
  background-color: var(--basic-bakground-color);
  font-family: var(--basic-font-family);
  font-style: normal;
  font-weight: 400;
  color: var(--brand-text-color);
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.web {
  font-family: var(--logo-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  color: var(--brand-text-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.studio {
  font-family: var(--logo-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  color: var(--heading-text-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-container {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-left: 0;
  border-right: 0;
}
.nav-container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  margin-left: 77px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.nav .item + .item {
  margin-left: 40px;
}
.nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.contacts {
  display: flex;
  font-size: 16px;
  line-height: 1.5;
  color: var(--body-text-color);
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}
.contacts .item + .item {
  margin-left: 40px;
}
.link {
  text-decoration: none;
  color: var(--heading-text-color);
}
.link:hover {
  color: var(--body-text-color);
}
.link:focus {
  color: var(--brand-text-color);
}
.link2 {
  text-decoration: none;
  color: var(--body-text-color);
}
.link2:hover,
.link2:focus {
  color: var(--brand-text-color);
}
.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--heading-text-color);
  text-align: center;
  margin-top: 0;
  margin-bottom: 120px;
}
.header1 {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.1;
  color: var(--basic-bakground-color);
  margin-top: 0;
  margin-bottom: 64px;
  width: 492px;
}
.button {
  font-family: var(--basic-font-family);
  width: 170px;
  height: 51px;
  left: 635px;
  top: 432px;
  background: var(--brand-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: var(--basic-bakground-color);
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button:hover {
  background: #404bbf;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.button:focus {
  left: 20px;
  top: 156px;
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.header-none {
  display: none;
}
.main-2 {
  margin-top: 0;
  margin-bottom: 120px;
}
.our-advantages .item + .item {
  margin-left: 24px;
}
.our-advantages {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.our-advantages .item {
  width: 264px;
}
.our-advantages .topics-our-advantages,
.our-advantages .text-our-advantages {
  margin: 0;
  padding: 0;
}
.topics-our-advantages {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-text-color);
  margin-bottom: 8px;
}
.text-our-advantages {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}
.section2 {
  margin-bottom: 120px;
}
.section2 .header2 {
  text-align: center;
}
.section2 .header2,
.section2 .we-doing {
  margin-top: 0;
  padding: 0;
}
.header2 {
  margin-bottom: 72px;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--heading-text-color);
}
.we-doing {
  display: flex;
}
.we-doing .item + .item {
  margin-left: 24px;
}
.we-doing,
.our-team {
  list-style-type: none;
}
.team-description {
  background-color: var(--basic-bakground-color);
}
.our-team {
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
}
.our-team .team-description + .team-description {
  margin-left: 24px;
}
.section4 {
  background-color: var(--light-text-color);
}
.section4 .header2 {
  padding-top: 120px;
  text-align: center;
  margin-top: 0;
}
.our-employees {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-text-color);
}
.employeess-profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}
.team-description .our-employees,
.team-description .employeess-profession {
  text-align: center;
}
.web-footer {
  font-family: var(--logo-font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--brand-text-color);
  text-transform: uppercase;
}
.studio-footer {
  margin-bottom: 16px;
  font-family: var(--logo-font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
  text-transform: uppercase;
}
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--heading-text-color);
}
.footer-description {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

/*Portfolio css*/

.filter {
  display: none;
}
.topics {
  padding-top: 92px;
  margin-bottom: 120px;
}
.all-topics-list,
.filter-buttons {
  list-style-type: none;
  justify-content: center;
}
.filter-buttons .fiter-buttons-size + .fiter-buttons-size {
  margin-left: 24px;
}
.filter-buttons {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  padding-bottom: 72px;
}
.all-topics-list {
  display: flex;
  flex-wrap: wrap;
}
.fiter-buttons-size {
  margin: 0;
  padding: 0;
  height: 48px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.button2 {
  margin: 0;
  padding: 0;
  height: 48px;
  background: var(--light-text-color);
  border: 1px solid var(--accent-text-color);
  color: var(--brand-text-color);
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button2:hover {
  background: var(--brand-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--basic-bakground-color);
}
.button2:focus {
  background: var(--brand-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--basic-bakground-color);
}
.all {
  width: 69px;
}
.web-site {
  width: 116px;
}
.app {
  width: 78px;
}
.design {
  width: 101px;
}
.marketing {
  width: 126px;
}
.header-of-topics {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--heading-text-color);
}
.topics-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text-color);
}
.all-topics-list,
.list-discription {
  margin: 0;
  padding: 0;
}
.all-topics-list .list-discription {
  margin-right: 24px;
}
.list-discription img,
.list-discription .header-of-topics,
.list-discription .topics-text {
  margin: 0;
  padding: 0;
}
.list-discription:nth-child(3n) {
  margin-right: 0;
}
.list-discription .header-of-topics {
  margin-top: 32px;
  margin-bottom: 8px;
  padding-left: 10px;
}
.list-discription .topics-text {
  margin-bottom: 32px;
  padding-left: 10px;
}
